body{
    background-color: black;
}
.tamLogo{
  width: 150px;
  height: 120px;
}

.headerText{
    color: orangered;
    font-weight: bold;
    font-size: 25px;
}

.navbar-toggler {
  border-color: orangered;
}

.navbar-toggler-icon{
background-color: orangered;

}


.fuentesNav {
  font-size: 3rem;
  padding-left: 2rem;
  color: orangered;
}

.botonCangreBurguer {
  height: 5rem;
  width: 5rem;
  color: orangered;
   background-color: black; 

}



/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .img-index-cards{
        width: 250px;
        height: 140px;
    }
    .tamLogo{
      width: 50;
      height: 50;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 321px) and (max-width : 480px) {
    .img-index-cards{
        width: 250px;
        height: 140px;
    }
    .tamLogo{
      width: 50;
      height: 50;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 481px) and (max-width : 768px) {
    .img-index-cards{
        width: 250px;
        height: 140px;
    }
    .tamLogo{
      width: 50;
      height: 50;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 769px) and (max-width : 992px) {
      .img-index-cards{
        width: 350px;
        height: 240px;
     }
     
     @keyframes float {
        0% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
        }
        50% {
          box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
          transform: translatey(-20px);
        }
        100% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
        }
      } 
    
    .avatar:hover {
        /* width: 150px;
        height: 150px; */
        /* box-sizing: border-box;
        border: 5px white solid; */
        /* border-radius: 50%; */
        overflow: hidden;
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        /* img { width: 100%; height: auto; } */
      }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 993px) 
{
  .img-index-cards{
    width: 350px;
    height: 270px;
 }
     @keyframes float {
        0% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
        }
        50% {
          box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
          transform: translatey(-20px);
        }
        100% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
        }
      } 
    
    .avatar:hover {
        /* width: 150px;
        height: 150px; */
        /* box-sizing: border-box;
        border: 5px white solid; */
        /* border-radius: 50%; */
        overflow: hidden;
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        /* img { width: 100%; height: auto; } */
      }
} 

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}